/* this css stylesheet contains additional styling specifications besides 
the styling that is applied dynamically with javascript (which is the majority) */


/* start of changing html defaults and specifying general layout styling */
.web-layout {
    display: flex;
}

body {
    margin: 0px;
}

h6 {
    font-family: "Work Sans", sans-serif;
    font-size: 13px;
    margin-bottom: 0px;
    text-align: left !important;
}
/* end of changing html defaults and specifying general layout styling */

/* start of legend and settings styling */
.info-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
}

.info-item {
    padding: 10px 20px 0px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: 'white';
    text-align: justify;
}

#info-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
}

#plotting-area {
    width:100%;
    height: 100vh
}

#info-area {
    background-color: #f1f1f1;
    /* border-right: 1px solid black; */
    width: 300px;
    height: calc(100vh - 20px);
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px #4e4e4e;
}

#info-header {
    display: flex;
    align-items: center;
}

#info-settings {
    font-size: 10px;
    text-align: center;
    font-family: 'Open Sans', 'sans-serif'
}

#info-gear {
    font-size: 25px;
    color:rgba(255, 255, 255, 0.404);
    margin: 0;
    padding: 0;
}
/* end of legend and settings styling */

/* start of keyword tooltip styling */
.glossary {
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
}

.glossary:hover {
    color: black;
    font-family: 'Work Sans', sans-serif;
}
/* end of keyword tooltip styling */


/* start of toturial styling */
.modal-split {
    display: flex;
}

.tut-div {
    width: 100%;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}
/* end of tutorial styling */

/* start of field label styling */
.label {
    text-anchor: middle;
    font-family: 'Work Sans', sans-serif;
    dominant-baseline: central;
}
/* end of field label styling */
  
/* start of hover information window styling */
.hoverer {
    fill: transparent;
    stroke: white;
    stroke-width:0px;
}
  
.hoverer:hover {
    stroke-width: 3px;
}

.hover-content-container {
    overflow: visible;
}

.hover-content-table-div{
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    filter: drop-shadow(0px 9px 8px #2F2F2F);
}
.hover-content-table {
    border-collapse: collapse;
    font-size: 12px;
}

.hover-content-table .right-column {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 5px;
    padding-top: 5px;
}

.hover-content-table .left-column {
    font-family: 'Work Sans', sans-serif;
    white-space: nowrap;
    padding-right: 20px;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding-bottom: 5px;
    padding-top: 5px;
}

.hover-content-table > tr:last-child {
    border-bottom: hidden;
}
/* end of hover information window styling */

/* start of annotation styling */
.annotation-object{
    overflow: visible;
}

.annotation-container-inner {
    width: 100%;
    height: 100%;
}

.annotation-dummy-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.annotation-div {
    /* word-wrap: break-word; */
    background-color: rgb(255, 255, 255);
    color:#000000;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
    border-width: 1.5px;
    overflow: hidden;
    float: right;
    text-align: center;
}

.annotation.title {
    font-weight: bold;
    padding: 4px 5px 0px 5px;
    font-family: 'Work Sans', sans-serif;
    font-size: 15px; 
}

.annotation.content {
    font-weight: normal;
    padding: 0px 5px 6px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
}
/* end of annotation styling */

/* start of title/navigation (roadmap) styling */
.menu-container .domain {
    stroke-width: 0;
}

.menu-container .tick {
    stroke-width: 0;
}

.menu-container .tick text{
    font-family: 'Open Sans', sans-serif;
    dominant-baseline: middle;
}

.menu-title-parent {
    position: relative;
}

.menu-title-parent {
    width: 100%;
    position: absolute;
	bottom: 0;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

.menu-title {
    font-size: 15px;
}
/* end of title/navigation (roadmap) styling */

